.container-login-main {
    background-color: goldenrod;
    width: 600px;
    border-radius: 5px;
    border: 1px solid ;
    padding: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
#encabezado {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}